@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-ink text-slate-100 antialiased;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  /* respect notch / safe areas on mobile */
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}
